.container {
    position: relative;
    margin-top: 5%;
    width: 80%;
}

.imageCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 10%;
    transform: translateY(-15%);
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 80%;
    background: #fff;
    padding: 3% 1%;
}

.title {
    color: #707070;
    font-size: 80px;
    text-align: center;
}

.content {
    color: #707070;
    font-size-adjust: 20px;
    text-align: center;
}