.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-top: 5%;
}

.title h1 {
    width: 55%;
    font-size: 35px;
    color: #1d3557;
}

.title p {
    font-size: 18px;
    font-weight: 500;
    margin-top: 2%
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 3%;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 30%;
    margin-bottom: 10%;
    padding: 1%;
    border-top: 10px solid #1d3557;
}

.card_title {
    display: felx;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.card_title h1 {
    font-size: 35px;
    color: #1d3557;
}

.card_content p {
    font-size: 17px;
    font-weight: 500;
    text-align: justify;
}

@media all and (max-width: 768px) {
    .cards {
        flex-direction: column;
    }
    .card {
        width: 100%;
    }
}

/* Paralax */

.paralax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    background-image: url('/images/paralax.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.topBox {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -7.5%;
    width: 50%;
    height: 15%;
    border-radius: 20px;
    background: chartreuse;
}

.topBox h1 {
    color: #fff;
}

.banner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
}

.leftBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    padding: 3%;
    border-top: 5px solid #fff;
}

.leftBanner h1 {
    font-size: 40px;
    color: #fff;
}

.leftBanner p {
    font-size: 18px;
    color: #fff;
}

.leftBanner button {
    margin-top: 2%;
    background: transparent;
    border: 1px #fff solid;
    padding: 2% 7%;
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
}

.leftBanner button:hover {
    background: #f1f1f1;
    color: #000;
    cursor: pointer;
}

.rightBanner {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    left: 50%;
    padding: 3%;
    border-bottom: 5px solid #fff;
}

.rightBanner img {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.rightBanner h1 {
    text-align: left;
    transform: translateX(-150%);
    width: 10%;
    color: #fff;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 2% 0;
    background: #f1f1f1;
}

.footerLogo h1 {
    color: #1d3557;
}

.footer1, .footer2, .footer3 {
    color: #1d3557;
    font-weight: 500;
}

.footer1 p {
    cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 767px) {
    .title {
        width: 100%;
        padding: 1% 4%;
    }
    .title h1 {
        text-align: center;
        width: 100%;
    }
    .title p {
        text-align: justify;
        width: 100%;
    }
    .cards {
        width: 90%;
        margin-top: 10%;
    }
    .paralax {
        flex-direction: column;
        height: 100vh;
    }
    .topBox {
        width: 80%;
        height: 8%;
        top: -4%
    }
    .banner {
        flex-direction: column;
        height: 90vh;
        width: 90%;
        top: 4vh;
    }
    .leftBanner {
        position: relative;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
    .leftBanner h1 {
        text-align: center;
        font-size: 26px;
    }
    .leftBanner p {
        font-size: 16px;
        text-align: justify;
    }
    .rightBanner {
        position: relative;
        position: relative;
        justify-content: flex-start;
        width: 100%;
        left: 0;
        margin-top: 6%;
    }
    .rightBanner h1 {
        width: 100%;
        transform: translateX(0);
        text-align: center;
        margin-top: 12%;
    }
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer1, .footer2, .footer3 {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .title {
        width: 100%;
        padding: 1% 4%;
    }
    .title h1 {
        text-align: center;
        width: 100%;
    }
    .title p {
        text-align: justify;
        width: 85%;
    }
    .cards {
        width: 80%;
    }
    .banner {
        width: 90%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}