/* *** NAvbar Section style *** */

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	width: 100%;
	height: 100px;
}

.logo_container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;
	/*background: blue;*/
}

.logo_container a {
	color: #717171;
	font-size: 35px;
	line-height: 80px;
	font-weight: bold;
	cursor: pointer;
}

.menu_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	/*background: black;*/
}

.active {
	background: #f1f1f1;
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	/*background: whitesmoke;*/
}

.menu a {
	/*line-height: 60px;*/
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	color: #717171;
	text-transform: uppercase;
}

.menu a:hover {
	background: #f1f1f1;
}

.contact_container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;
	/*background: red;*/
}

.contact_container a {
	/*line-height: 60px;*/
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	color: #717171;
	text-transform: uppercase;
}

.contact_container a:hover {
	background: #f1f1f1;
}

.checkbtn {
	font-size: 30px;
	color: #717171;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

.check {
	display: none;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .menu_container {
		display: none;
	}
	.contact_container {
		display: none;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}